<!--page-wrapper Start-->
<div class="page-wrapper">
    <app-header (toggleEvent)="receiveToggle($event)"></app-header>
    <!--Page Body Start-->
    <div class="page-body-wrapper sidebar-icon" [class.sidebar-close]="toggle">
        <div class="page-sidebar custom-scrollbar">
            <app-compact-sidebar></app-compact-sidebar>
        </div>
        <div class="page-body">
            <router-outlet></router-outlet>
        </div>
    </div>
    <!--Page Body End-->
    <app-chat-sidebar></app-chat-sidebar>
    <app-customizer></app-customizer>
</div>
<!--page-wrapper End-->