<div class="modal-header">
    <div class="product-box row">
      <div class="product-img col-md-6"><img class="img-fluid" [src]="[productoDetalleVistaRapida?.pathImagen]" alt=""></div>
      <div class="product-details col-md-6 text-left">
        <h1>{{productoDetalleVistaRapida?.nombre}}</h1>
        <div class="product-price">
          <del>{{productoDetalleVistaRapida?.precio | currency:'Q':'symbol'}}</del>{{productoDetalleVistaRapida?.precio | currency:'Q':'symbol'}}
        </div>
        <div class="product-view">
          <h6 class="f-w-600">Detalle de Producto</h6>
        <p class="mb-0">{{productoDetalleVistaRapida.descripcion}}</p>
        </div>
        <div class="product-size">
          <ul *ngFor="let talla of tallasDisponibles">
            <li>
              <button class="btn btn-outline-light" type="button" (click)="tallaSelecionada(talla.id)">{{talla.idTalla}}</button>
            </li>
          </ul>
        </div>
        <div class="product-qnty">
          <h6 class="f-w-600">Cantidad</h6>
          <div class="qty-box1">
            <div class="input-group">
              <i class="fa fa-minus btnGtr1" (click)="disminuir()"></i>
              <input class="touchspin1 text-center" #qty name="quantity" type="text" value="{{cantidad}}">
              <i class="fa fa-plus btnLess1" (click)="incrementar()"></i>
            </div>
          </div>
          <div class="addcart-btn">
            <button class="btn btn-primary-gradien m-r-10" type="button" data-original-title="btn btn-info-gradien"
              [routerLink]="['/ecommerce/add-cart']" (click)=addToCart(productoDetalleVistaRapida,qty.value) title="">
              Añadir al carrito</button>
            <button class="btn btn-success-gradien" type="button" data-original-title="btn btn-info-gradien"
              (click)=buyNow(productoDetalleVistaRapida,qty.value) title="">Compra ahora</button>
          </div>
        </div>
      </div>
    </div>
  </div>