<div class="container-fluid">

    <!--sign up page start-->
    <div class="authentication-main">
        <div class="row">
            <div class="col-md-4 p-0">
                <div class="auth-innerleft">
                    <div class="text-center">
                        <img src="assets/images/logo-auth.gif" class="logo-login" alt="">
                        <hr>
                        <div class="social-media">
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="fa fa-facebook" aria-hidden="true"></i></li>
                                <li class="list-inline-item"><i class="fa fa-google-plus" aria-hidden="true"></i></li>
                                <li class="list-inline-item"><i class="fa fa-twitter" aria-hidden="true"></i></li>
                                <li class="list-inline-item"><i class="fa fa-instagram" aria-hidden="true"></i></li>
                                <li class="list-inline-item"><i class="fa fa-rss" aria-hidden="true"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 p-0">
                <div class="auth-innerright">
                    <div class="authentication-box">
                        <h3 class="text-center">NEW USER</h3>
                        <h6 class="text-center">Enter your Username and Password For Login or Signup</h6>
                        <div class="card mt-4 p-4">
                            <form class="theme-form">
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-form-label">First Name</label>
                                            <input type="text" class="form-control" placeholder="John">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-form-label">Last Name</label>
                                            <input type="text" class="form-control" placeholder="Deo">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label">User Name</label>
                                    <input type="text" class="form-control" placeholder="John Deo">
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label">Password</label>
                                    <input type="password" class="form-control" placeholder="**********">
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label">BOD</label>
                                    <div class="form-row">
                                        <div class="col-sm-4">
                                            <select class="form-control mb-1">
                                                <option>DD</option>
                                                <option>01</option>
                                                <option>02</option>
                                                <option>03</option>
                                                <option>04</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-4">
                                            <select class="form-control mb-1">
                                                <option>MM</option>
                                                <option>01</option>
                                                <option>02</option>
                                                <option>03</option>
                                                <option>04</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-4">
                                            <select class="form-control mb-1">
                                                <option>YYYY</option>
                                                <option>1990</option>
                                                <option>1991</option>
                                                <option>1992</option>
                                                <option>1993</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-sm-3">
                                        <button type="submit" class="btn btn-secondary">Sign Up</button>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="text-left mt-2 m-l-20">
                                            Are you already user?&nbsp;&nbsp;<a href="login.html"
                                                class="btn-link text-capitalize">Login</a>
                                        </div>
                                    </div>

                                </div>
                                <div class="form-divider"></div>
                                <div class="social mt-3">
                                    <div class="form-row">
                                        <div class="col-sm-4">
                                            <button class="btn social-btn btn-fb mb-2">Facebook</button>
                                        </div>
                                        <div class="col-sm-4">
                                            <button class="btn social-btn btn-twitter mb-2">Twitter</button>
                                        </div>
                                        <div class="col-sm-4">
                                            <button class="btn social-btn btn-google mb-2">Google +</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--sign up page Ends-->
</div>