<div class="container-fluid">
    <!--Unlock page start-->
    <div class="authentication-main">
        <div class="row">
            <div class="col-md-4 p-0">
                <div class="auth-innerleft">
                    <div class="text-center">
                        <img src="assets/images/open-lock.png" class="img-fluid security-icon" alt="">
                    </div>

                </div>
            </div>
            <div class="col-md-8 p-0">
                <div class="auth-innerright">
                    <div class="authentication-box">
                        <h3>UNLOCK USER</h3>
                        <div class="card mt-4 p-4 mb-0">
                            <form class="theme-form">
                                <div class="form-group">
                                    <label class="col-form-label">Enter your Password</label>
                                    <input type="password" class="form-control" placeholder="*******">
                                </div>
                                <div class="form-group form-row mb-2">
                                    <div class="col-md-3">
                                        <button type="submit" class="btn btn-secondary">UNLOCK</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Unlock page end-->
</div>