<!-- Container-fluid starts -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Asignación de Colores</h5>
                </div>
                <div class="card-body smart-datatable">
                    <div class="table-responsive">
                        <ng2-smart-table [settings]="configuracion" [source]="coloresAsignados" (createConfirm)="onAsignarColor($event)" (editConfirm)="onActualizarAsigColor($event)"
                         ></ng2-smart-table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Container-fluid Ends -->

<!-- Container-fluid starts -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Asignación de Tallas</h5>
                </div>
                <div class="card-body smart-datatable">
                    <div class="table-responsive">
                        <ng2-smart-table [settings]="configuracionTallas" [source]="tallasAsignados" (createConfirm)="onAsignarTalla($event)" (editConfirm)="onActualizarAsigTalla($event)"
                         ></ng2-smart-table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Container-fluid Ends -->

<!-- Container-fluid starts -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Asignación de Etiquetas</h5>
                </div>
                <div class="card-body smart-datatable">
                    <div class="table-responsive">
                        <ng2-smart-table [settings]="configuracionEtiquetas" [source]="etiquetasAsignadas" (createConfirm)="onAsignarEtiqueta($event)" (editConfirm)="onActualizarAsigEtiqueta($event)"
                         ></ng2-smart-table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<button class="btn btn-primary btn-next" type="submit" awNextStep>Continuar</button>
<!-- Container-fluid Ends -->
