<div class="sidebar-user text-center">
    <div>
        <img class="img-50 rounded-circle" src="assets/images/user/1.jpg" alt="#">
    </div>
    <h6 class="mt-3 f-12">Johan Deo</h6>
</div>
<ul class="sidebar-menu custom-scrollbar">
    <li *ngFor="let menuItem of menuItems" [ngClass]="{active: menuItem.active}">
        <!-- Sub -->
        <a href="javascript:void(0)" class="sidebar-header" *ngIf="menuItem.type === 'sub'">
            <i [class]="menuItem.icon+' icon-sidebar'"></i><span class="sub-header-title">{{menuItem.title}}</span>
            <i class="fa fa-angle-right pull-right" *ngIf="menuItem.children"></i>
        </a>
        <!-- Link -->
        <a [routerLink]="!menuItem.type ? null : [menuItem.path]" class="sidebar-header" *ngIf="menuItem.type === 'link'">
            <i [class]="menuItem.icon+' icon-sidebar'"></i><span class="sub-header-title">{{menuItem.title}}</span>
            <i class="fa fa-angle-right pull-right" *ngIf="menuItem.children"></i>
        </a>
        <!-- External Link -->
        <a href="{{ !menuItem.type ? null : menuItem.path }}" class="sidebar-header" *ngIf="menuItem.type === 'extLink'">
            <i [class]="menuItem.icon+' icon-sidebar'"></i><span class="sub-header-title">{{menuItem.title}}</span>
            <i class="fa fa-angle-right pull-right" *ngIf="menuItem.children"></i>
        </a>
        <!-- External Tab Link -->
        <a href="{{ !menuItem.type ? null : menuItem.path }}" target="_blank" class="sidebar-header" *ngIf="menuItem.type === 'extTabLink'">
            <i [class]="menuItem.icon+' icon-sidebar'"></i><span class="sub-header-title">{{menuItem.title}}</span>
            <i class="fa fa-angle-right pull-right" *ngIf="menuItem.children"></i>
        </a>
        <ul class="sidebar-submenu" *ngIf="menuItem.children">
            <li *ngFor="let childrenItem of menuItem.children">
                <!-- Link -->
                <a [routerLink]="!childrenItem.type ? null : [childrenItem.path]" *ngIf="childrenItem.type === 'link'">
                    <i class="fa fa-angle-right"></i>{{childrenItem.title}}
                </a>
                <!-- External Link -->
                <a href="{{ !menuItem.type ? null : menuItem.path }}" *ngIf="childrenItem.type === 'extLink'">
                    <i class="fa fa-angle-right"></i>{{childrenItem.title}}
                </a>
                <!-- External Tab Link -->
                <a href="{{ !menuItem.type ? null : menuItem.path }}" target="_blank" *ngIf="childrenItem.type === 'extTabLink'">
                    <i class="fa fa-angle-right"></i>{{childrenItem.title}}
                </a>
            </li>
        </ul>
    </li>
</ul>