.contact-profile .icon-wrapper{
    position: absolute;
        top: 18%;
        left: 52%;
        padding: 10px;
        background-color: #fff;
        border-radius: 25px;
    }
    
    .upload {
        position: absolute;
        width: 100px;
        left: 0;
        right: 0;
        opacity: 0;
    }