<!--Maintenance start-->
<div class="error-wrapper">
    <div class="container">
        <ul class="maintenance-icons">
            <li><i class="fa fa-cog"></i></li>
            <li><i class="fa fa-cog"></i></li>
            <li><i class="fa fa-cog"></i></li>
        </ul>
        <div class="maintenance-heading">
            <img src="assets/images/cloud-bg-1.png" class="cloud-first" alt="">
            <h2 class="headline">MAINTENANCE</h2>
            <img src="assets/images/cloud-bg-2.png" class="cloud-second" alt="">
        </div>
        <h4 class="sub-content">Our Site is Currently under maintenance We will be back Shortly<br>
            Thank You For Patience</h4>
        <div>
            <a [routerLink]="'/dashboard/default'" class="btn btn-info-gradien btn-lg text-light">BACK TO HOME PAGE</a>
        </div>
    </div>
</div>
<!--Maintenance start-->