<!-- Container-fluid starts -->
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6">
                <h3>Tag & Pills
                    <small>Universal Admin panel</small>
                </h3>
            </div>
            <div class="col-lg-6">
                <ol class="breadcrumb pull-right">
                    <li class="breadcrumb-item"><a [routerLink]="'/dashboard/default'"><i class="fa fa-home"></i></a></li>
                    <li class="breadcrumb-item">Base </li>
                    <li class="breadcrumb-item">Bootstrap </li>
                    <li class="breadcrumb-item active">Tag & Pills</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends -->

<!-- Container-fluid starts -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h5>Contextual variations</h5>
                </div>
                <div class="card-body">
                    <span class="badge badge-primary">Primary</span>
                    <span class="badge badge-secondary">Secondary</span>
                    <span class="badge badge-success">Success</span>
                    <span class="badge badge-info">Info</span>
                    <span class="badge badge-warning">Warning</span>
                    <span class="badge badge-danger">Danger</span>
                    <span class="badge badge-light">Light</span>
                    <span class="badge badge-dark tag-pills-sm-mb">Dark</span>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h5>Contextual variations</h5>
                </div>
                <div class="card-body">
                    <span class="badge badge-pill badge-primary">Primary</span>
                    <span class="badge badge-pill badge-secondary">Secondary</span>
                    <span class="badge badge-pill badge-success">Success</span>
                    <span class="badge badge-pill badge-info">Info</span>
                    <span class="badge badge-pill badge-warning">Warning</span>
                    <span class="badge badge-pill badge-danger">Danger</span>
                    <span class="badge badge-pill badge-light">Light</span>
                    <span class="badge badge-pill badge-dark tag-pills-sm-mb">Dark</span>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h5>Tags with number</h5>
                </div>
                <div class="card-body digits">
                    <a href="javascript:void(0)" class="badge badge-primary">1</a>
                    <a href="javascript:void(0)" class="badge badge-secondary">2</a>
                    <a href="javascript:void(0)" class="badge badge-success">3</a>
                    <a href="javascript:void(0)" class="badge badge-info">4</a>
                    <a href="javascript:void(0)" class="badge badge-warning">5</a>
                    <a href="javascript:void(0)" class="badge badge-danger">6</a>
                    <a href="javascript:void(0)" class="badge badge-light">7</a>
                    <a href="javascript:void(0)" class="badge badge-dark">8</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h5>Pills with number</h5>
                </div>
                <div class="card-body digits">
                    <span class="badge badge-pill badge-primary">1</span>
                    <span class="badge badge-pill badge-secondary">2</span>
                    <span class="badge badge-pill badge-success">3</span>
                    <span class="badge badge-pill badge-info">4</span>
                    <span class="badge badge-pill badge-warning">5</span>
                    <span class="badge badge-pill badge-danger">6</span>
                    <span class="badge badge-pill badge-light">7</span>
                    <span class="badge badge-pill badge-dark">8</span>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h5>Tags With icon</h5>
                </div>
                <div class="card-body">
                    <a href="javascript:void(0)" class="badge badge-primary"><i class="icofont icofont-cur-dollar"></i></a>
                    <a href="javascript:void(0)" class="badge badge-secondary"><i class="icofont icofont-headphone-alt"></i></a>
                    <a href="javascript:void(0)" class="badge badge-success"><i class="icofont icofont-link"></i></a>
                    <a href="javascript:void(0)" class="badge badge-info"><i class="icofont icofont-brainstorming"></i></a>
                    <a href="javascript:void(0)" class="badge badge-warning"><i class="icofont icofont-safety-pin"></i></a>
                    <a href="javascript:void(0)" class="badge badge-danger"><i class="icofont icofont-ui-laoding"></i></a>
                    <a href="javascript:void(0)" class="badge badge-light"><i class="icofont icofont-heart"></i></a>
                    <a href="javascript:void(0)" class="badge badge-dark"><i class="icofont icofont-envelope"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h5>Pills with number</h5>
                </div>
                <div class="card-body">
                    <a href="javascript:void(0)" class="badge badge-pill badge-primary"><i class="icofont icofont-cur-dollar"></i></a>
                    <a href="javascript:void(0)" class="badge badge-pill badge-secondary"><i class="icofont icofont-headphone-alt"></i></a>
                    <a href="javascript:void(0)" class="badge badge-pill badge-success"><i class="icofont icofont-link"></i></a>
                    <a href="javascript:void(0)" class="badge badge-pill badge-info"><i class="icofont icofont-brainstorming"></i></a>
                    <a href="javascript:void(0)" class="badge badge-pill badge-warning"><i class="icofont icofont-safety-pin"></i></a>
                    <a href="javascript:void(0)" class="badge badge-pill badge-danger"><i class="icofont icofont-ui-laoding"></i></a>
                    <a href="javascript:void(0)" class="badge badge-pill badge-light"><i class="icofont icofont-heart"></i></a>
                    <a href="javascript:void(0)" class="badge badge-pill badge-dark"><i class="icofont icofont-envelope"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="card height-equal">
                <div class="card-header">
                    <h5>Badges Example</h5>
                </div>
                <div class="card-body">
                    <h1>heading <span class="badge badge-primary">New</span></h1>
                    <h2>heading <span class="badge badge-primary">New</span></h2>
                    <h3>heading <span class="badge badge-primary">New</span></h3>
                    <h4>heading <span class="badge badge-primary">New</span></h4>
                    <h5>heading <span class="badge badge-primary">New</span></h5>
                    <h6>heading <span class="badge badge-primary">New</span></h6>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="card height-equal">
                <div class="card-header">
                    <h5>Badges as part buttons</h5>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <button type="button" class="btn btn-primary">
                            Messages <span class="badge badge-pill badge-light"><i class="icofont icofont-envelope"></i></span>
                        </button>
                    </div>
                    <div class="mb-3">
                        <button type="button" class="btn btn-secondary">
                            Notifications <span class="badge badge-pill badge-light"><i class="icofont icofont-notification"></i></span>
                        </button>
                    </div>
                    <div class="mb-3">
                        <button type="button" class="btn badge-success">
                            Update available <span class="badge badge-pill badge-light"><i class="icofont icofont-settings"></i></span>
                        </button>
                    </div>
                    <div class="mb-3">
                        <button type="button" class="btn badge-info">
                            Playing Now <span class="badge badge-pill badge-light"><i class="icofont icofont-ui-music"></i></span>
                        </button>
                    </div>
                    <div class="mb-3">
                        <button type="button" class="btn badge-warning">
                            1.2 GB Used <span class="badge badge-pill badge-light"><i class="icofont icofont-exclamation-tringle"></i></span>
                        </button>
                    </div>
                    <div class="">
                        <button type="button" class="btn badge-danger">
                            Alert <span class="badge badge-pill badge-light"><i class="icofont icofont-danger-zone"></i></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends -->