<div class="container-fluid p-0 m-0">
    <div class="comingsoon comingsoon-bgimg">
        <div class="comingsoon-inner text-center">
            <img src="assets/images/coming-soon-Logo.png" alt="">
            <h5>WE ARE COMING SOON</h5>
            <div id="clockdiv" class="countdown">
                <ul>
                    <li><span id="days" class="time digits"></span><span class="title">days</span></li>
                    <li><span id="hours" class="time digits"></span><span class="title">Hours</span></li>
                    <li><span id="minutes" class="time digits"></span><span class="title">Minutes</span></li>
                    <li><span id="seconds" class="time digits"></span><span class="title">Seconds</span></li>
                </ul>
            </div>
            <div class="coming-soon-bottom-link"><a href="javascript:void(0)" target="_blank"
                    class="btn-link">www.Universal.com</a></div>
        </div>
    </div>
</div>